.map {
  background-color: #18181b;
  margin-top: 15px;
  height: 100%;
  
  .body {
    padding: 15px;
    height: calc(100% - 30px);

    .leaflet-container {
      height: 100%;

      .map__popup {
        .country_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 10px;

          .flag {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 5px;
  
            img {
              width: 100%;
              height: 100%;
            }
          }
          .country {
            font-weight: bold;
          }
        }
        
        .cases,
        .recovered,
        .deaths {
          margin-bottom: 5px;
        }
      }
    }
  }
}